#html
{
	background: url("Background.jpg") no-repeat center center fixed;
	background-size: 100% 100%;
}

#transbox
{
    margin: 30px;
	background-color:rgba(0,0,0,.4);
	border: 1px solid black;
	filter:alpha(opacity=40);
}

#transbox p
{
	margin: 5%;
	font-weight: bold;
	color: #00ffff;
}