#container {
    width: 960px;
    margin: 0 auto;
}

#header {
	color:cyan;
    text-align:center;
    font-size:200%;
	font-family:calibri;
}

#primary {
	color:cyan;
    float: left;
    width: 240px;
}

#content {
	color:cyan;
    float: left;
    width: 480px;
}

#secondary {
	color:cyan;
    float: left;
    width: 240px;
}

#footer {
	color:cyan;
    clear: both;
}